parameters:
	ignoreErrors:
		-
			message: '#^Cannot call method hasVerifiedEmail\(\) on App\\Models\\User\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Controllers/Auth/VerifyEmailController.php

		-
			message: '#^Cannot call method markEmailAsVerified\(\) on App\\Models\\User\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Controllers/Auth/VerifyEmailController.php

		-
			message: '#^Method App\\Livewire\\Actions\\Logout\:\:__invoke\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Livewire/Actions/Logout.php

		-
			message: '#^Cannot access property \$email on App\\Models\\User\|null\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Livewire/Auth/ConfirmPassword.php

		-
			message: '#^Cannot call method hasVerifiedEmail\(\) on App\\Models\\User\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Livewire/Auth/VerifyEmail.php

		-
			message: '#^Cannot call method sendEmailVerificationNotification\(\) on App\\Models\\User\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Livewire/Auth/VerifyEmail.php

		-
			message: '#^Cannot call method delete\(\) on App\\Models\\User\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Livewire/Settings/DeleteUserForm.php

		-
			message: '#^Cannot call method update\(\) on App\\Models\\User\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Livewire/Settings/Password.php

		-
			message: '#^Cannot access property \$email on App\\Models\\User\|null\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Livewire/Settings/Profile.php

		-
			message: '#^Cannot access property \$email_verified_at on App\\Models\\User\|null\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Livewire/Settings/Profile.php

		-
			message: '#^Cannot access property \$id on App\\Models\\User\|null\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Livewire/Settings/Profile.php

		-
			message: '#^Cannot access property \$name on App\\Models\\User\|null\.$#'
			identifier: property.nonObject
			count: 2
			path: app/Livewire/Settings/Profile.php

		-
			message: '#^Cannot call method fill\(\) on App\\Models\\User\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Livewire/Settings/Profile.php

		-
			message: '#^Cannot call method hasVerifiedEmail\(\) on App\\Models\\User\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Livewire/Settings/Profile.php

		-
			message: '#^Cannot call method isDirty\(\) on App\\Models\\User\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Livewire/Settings/Profile.php

		-
			message: '#^Cannot call method save\(\) on App\\Models\\User\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Livewire/Settings/Profile.php

		-
			message: '#^Cannot call method sendEmailVerificationNotification\(\) on App\\Models\\User\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Livewire/Settings/Profile.php

		-
			message: '#^Cannot call method hasVerifiedEmail\(\) on App\\Models\\User\|null\.$#'
			identifier: method.nonObject
			count: 2
			path: tests/Feature/Auth/EmailVerificationTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertTrue\(\) with true will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/Unit/ExampleTest.php
