includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon
    - phpstan-baseline.neon

parameters:
    paths:
        - app/
        - database/
        - tests/
    level: 8
    ignoreErrors:
        -
            message: '#^Cannot call method cannot\(\) on App\\Models\\User\|null\.$#'
            paths:
                - app/Http/Controllers/SponsorController.php # The controller is behind an Auth middleware
                - app/Http/Controllers/EventController.php # Ditto
                - app/Http/Controllers/SchoolYearController.php # Ditto

